<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Jesse Yang (23307653), Qichong Huang (23311085)">
        <!--link-->
        <title>AI chatbot - {% block title %}{% endblock %}</title>
        {% block css %}
        {% endblock %}
    </head>

    <body onload="setLabel()">
        <h1 style=" position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-style: italic; 
        font-size: 50px">AICHAT</h1>
        {% block body %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html> 

 
